{?title}
<section class="m-accordion x-block-accordion x-address">
	<div class="m-item">
		<h3 class="m-header">{title}</h3>
		<div class="x-main-field x-global-padding">{teaser}</div>
		<div class="m-content">
			<div class="m-inner-content x-global-padding">
				{content}
				{edit}
			</div>
		</div>
	</div>
</section>
{/title}