{#footer}
	
	<nav class="x-footer-menu">
		{menu}
	</nav>

	<div class="x-social-links">
		{social}
	</div>
	
	<div class="x-copyright-container">
		{copyright}
	
		<div class="x-toggle-desktop">
			<a href="#" onclick="window.scrollTo(0, 1); return false;">Back to top</a><span class="x-pipe">|</span>
			<a href="#" onclick="return Mobify.desktop()">Full site</a>
		</div>
	</div>
{/footer}