{?title}
<section class="x-block-accordion {class}">
	<div class="m-item">
		<h3 class="m-header">{title}</h3>
		<div class="m-inner-content x-global-padding">
			{edit}
			{content}
		</div>
	</div>
</section>
{/title}